.wrapper {
  &:not(:last-child) {
    margin-bottom: var(--size-3);
  }
  border: var(--size-0-5) solid var(--gray-100);
  border-radius: var(--size-2);
  display: flex;
  input {
    flex: 1;
    height: var(--size-8);
    padding: var(--size-0-5) var(--size-4);
    outline: none;
    border: none;
    border-radius: var(--size-6);
  }

  input::placeholder {
    color: var(--gray-300);
    font: var(--font-body);
    opacity: 0.7; /* optional, controls visibility */
  }
}
