.button {
  display: flex;
  align-items: center;
  gap: var(--size-2);

  outline: none;
  margin: var(--size-1) 0;

  cursor: pointer;
  height: var(--size-9);
  border-radius: var(--size-0-5);

  font: var(--font-body-medium);

  &--color-primary {
    --main-color: var(--gray-600);
  }

  &--color-blue {
    --main-color: var(--blue-400);
  }

  &--color-sky {
    --main-color: var(--sky-400);
  }

  svg {
    height: var(--size-6);
  }

  &--variant-default {
    border: none;
    background-color: var(--main-color);
    color: white;

    svg:not([fill]) {
      fill: white;
    }
    .loader {
      .spinner > div {
        background-color: red;
      }
    }
  }

  &--variant-outlined {
    border: solid 1px var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    svg:not([fill]) {
      fill: var(--main-color);
    }
    .loader {
      .spinner > div {
        background-color: red;
      }
    }
  }

  &--variant-link {
    border: none;
    background-color: transparent;
    color: var(--main-color);
    > svg:not([fill]) {
      fill: var(--main-color);
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    filter: brightness(97%);
  }

  &--size-default {
    padding: 0 var(--size-3);
  }

  &--size-stretch {
    width: 100%;
    justify-content: center;
  }

  &--disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
